.gradle
.gradle-home/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

stockholm/
!src/main/java/com/soundcork/stockholm/
!src/main/java/com/soundcork/stockholm/**
!src/test/java/com/soundcork/stockholm/
!src/test/java/com/soundcork/stockholm/**
stockholm*.zip
Stockholm*.zip
.env
config/custom-ca.crt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
state/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
